p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.catcard {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  margin-right: 15px;
}

.cat {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 6px;
}

.name {
  font-weight: bold;
  font-size: 18px;
  margin-left: 8px;
  margin-bottom: 5px;
}

.mutual {
  font-size: 16px;
  color: gray;
}

.addfriend {
  background-color: rgb(66, 102, 231);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 8px;
}

.dog2 {

  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  vertical-align: middle;
}

.profile {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 30px 1fr;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 6px;
}
.gridex {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
