.bg-container {
  background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png);
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: end;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace
}
.text-container {
  font-size: 12px;
  text-align: left;
  background-color: black;
  color: white;
  margin: 20px 230px;
  border-radius: 15px;
  padding: 10px;
}
